@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

:root {
  --background-color: black;
    --font-color: white;
  --font-family-primary: 'Playpen Sans', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --font-color: white;
  }
}
html {
  color-scheme: dark;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

svg {
  stroke: var(--font-color);
  height: 20px;
  width: 20px;
  >path {
    stroke: var(--font-color);    
  }
}